
body {
	font-family: 'Roboto', sans-serif;
	display: block;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/* Content div box */
.content {
	min-width: 36rem;
	width: 60%;
	margin: 0 auto;
	padding: 0 0.938rem;
}
/* Navigation Section */
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	height: 4.375rem;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
}
.top-navigation .content {
	height: 4.375rem;
}
.logo {
	height: 4.375rem;
}
.links a, #menu a {
	text-decoration: none;
	font-style: inherit;
	font-size: 1.04rem;
	color: #838994;
	letter-spacing: 0.03rem;
}
.top-navigation .links {
	float: right;
	margin-top: 1.5rem;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 1.5rem;
}
.active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #4c5058;
}
.menu-icon {
	position: absolute;
	right: -9999rem;
	top: 1.3rem;
	cursor: pointer;
}
.drop-menu-div {
	position: absolute;
	right: -9999rem;
	top: 3.2rem;
	width: 8rem;
	height: 12rem;
	padding: 1.5rem 0.5rem;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 0px 5px 5px 5px;
}
#menu li {
	margin: 0.4rem auto;
}
#menu li:hover .drop-menu-div {
	right: 0.75rem;
}
/* Introduction Section*/
.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.9375rem;
	overflow: auto;
	margin-bottom: 0;
}
.introduction h1, .introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
	margin-bottom: 0;
}
.introduction h1 {
	margin-top: 17rem;
	font-size: 3.125rem;
}
.introduction h3 {
	margin-top: 0.6rem;
	font-size: 1.563rem;
}
button {
	width: 9.688rem;
	display: block;
	margin: 1.563rem auto 0 auto;
	padding: 1rem 1.5rem;
	color: white;
	background-color: #f15a29;
	border-color: #f15a29;
	border-style: none;
	border-radius: .25rem;
	font-size: 1.125rem;
}
button:hover {
	cursor: pointer;
	background-color: #f15a00;
}
/* Three Icon Section*/
.cases {
	width: 100%;
	padding-bottom: 5rem;
	text-align: center;
	background-color: #fff;
	border-top: 1px solid #DDD;
	overflow: hidden;
}
.cases .content {
	margin-top: 7.5rem;
}
.cases li {
	display: inline-block;
	margin: 0;
	height: 14.065rem;
	width: 33.333%;
	float: left;
}
.cases h3 {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 2.5rem 0px 1.875rem;
}
.cases h2 {
	font-size: 2.75rem;
	font-weight: 300;
	vertical-align: baseline;
}
/* Footer Section*/
.social {
	background-color: #fff;
	overflow: auto;
	padding-bottom: 9.375rem;
}
.social hr {
	border: 0;
	border-top: 1px solid #eaebec;
	margin: 1.313rem 0;
}
.social h5 {
	display: block;
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
}
.social .content {
	text-align: center;
}
.social .icons {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0px;
}
.social .icons > li {
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;
	text-align: center;
	cursor: pointer;
}
.social .twitter {
	color: #55acee;
}
.social .facebook {
	color: #4c66a4;
}
.social .instagram {
	color: #3f729b;
}
.social .copy {
	font-size: 0.9rem;
	font-weight: 300;
	color: #838994;
	margin-top: 0;
}

/* Media Queries */
@media screen and (max-width: 576px) {
	.menu-icon {
		right: 1rem;
	}
	
	.content {
		min-width: 0;
		width: 100%;
		margin: 0;
	}
	.top-navigation .links { 
		display: none;
	}
	
	.introduction h1 {
		font-size: 2.2rem;
		margin-top: 0;
	}
	.introduction h3 {
		font-size: 1.05rem;
	}
	button {
		width: 7.5rem;
		padding: 0.25rem 0.5rem;
		font-size: 0.9rem;
	}
	.introduction .content {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.cases {
		padding-bottom: 2rem;
	}
	.cases .content {
		margin-top: 2rem;
	}
	.cases h2 {
		font-size: 2rem;
		letter-spacing: 0.5px;
	}
	.cases li {
		width: 100%;
	}
	.cases h3 {
		font-size: 1.25rem;
		font-weight: 100;
		margin-top: 0.5rem;
		letter-spacing: 0.05px;
	}
	.social {
		padding-bottom: 1.75rem;
	}

}
